.Tiles {
  height: 100%;
  overflow-x: hidden; 
}

.Tiles__Wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Tiles__Item {
  display: flex;
  height: 200px;
  width: 24%;
  min-width: 240px;
  margin: 0.5%;
  flex-grow: 1;

  &.Tiles-enter {
    transform: scale(0);
  }
  
  &.Tiles-enter-active {
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  
  &.Tiles-leave {
    transform: scale(1);
  }
  
  &.Tiles-leave-active {
    transform: scale(0);
    transition: transform 0.3s ease;
  }
}

