.WeatherCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10px;
}

.WeatherCard__Header {
  display: flex;
  justify-content: space-between;
  flex-basis: 40px;
}

.WeatherCard__CityName {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.WeatherCard__Action {
  flex-basis: 40px;
}

.WeatherCard__MainInfo {
  flex-grow: 1;
  display: flex;
  height: 1px;
}

.WeatherCard__WeatherIcon {
  width: 100px;
  background-color: rgb(255, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}

.WeatherCard__WeatherDegree {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 40px;
}

.WeatherCard__AdditionalInfo {
  flex-basis: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}