.WeatherCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.WeatherCard__Header {
  display: flex;
  justify-content: space-between;
  flex-basis: 40px;
}

.WeatherCard__CityName {
  flex-grow: 1;
}

.WeatherCard__Action {
  flex-basis: 40px;
}

.WeatherCard__MainInfo {
  flex-grow: 1;
}

.WeatherCard__AdditionalInfo {
  flex-basis: 60px;
}