.Header {
  display: grid;
  width: 100%;
  height: 100%;
  
  grid-template-columns: auto repeat(4, 16.6%) auto;
  grid-template-rows: auto;
  grid-template-areas: 
  ". leftSide leftSide rigthSide rigthSide .";
}

.Header__LeftSide {
  display: flex;
  align-items: center;
  grid-area: leftSide;
}

.Header__RigthSide {
  display: flex;
  align-items: center;
  grid-area: rigthSide;
}