.Header {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 196, 255);
  
  grid-template-columns: auto repeat(4, 16.6%) auto;
  grid-template-rows: auto;
  grid-template-areas: 
  ". leftSide leftSide rigthSide rigthSide .";
}

.Header__LeftSide {
  grid-area: leftSide;
  background-color: rgb(254, 255, 196);
}

.Header__RigthSide {
  grid-area: rigthSide;
  background-color: rgb(220, 255, 196);
}